.pageButtons{
	list-style: none;
	display: flex;
	font-size: 15px;
	font-weight: 600;
}

.pageButtons li{
	padding: 5px;
	border:  1px solid #313131;
	cursor: pointer;
	margin: 2px;
	border-radius: 5px;
}

.pageLi:hover{
	background-color: #313131;
	color: #f6f6f6;
}

.activeButton{
	background-color: #313131;
	color: #f6f6f6;
}

.btn{
	background-color: transparent;
	border: none;
	font-size: 15px;
	cursor: pointer;
	width: 100%;
	height: 100%;
	border-radius: 0px;
	font-weight: 600;
}

.btnLi{
	padding: 0px !important;
}

.btn:hover{
	background-color: #313131;
	color: #f6f6f6;
}

.btn:focus{
	outline: none;
	color: #f6f6f6;
}

.bottomLi{
	position: absolute;
	left: 20px;
  	bottom: 30px;
}